@font-face {
    font-family: 'Poppins Regular';
    src: url(fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Poppins Bold';
    src: url(fonts/Poppins-Bold.ttf);
}

body,#pagecont{
	overflow-x:hidden;
	width:100vw; height:100vh; margin:0;
	box-sizing:border-box; scroll-behavior:smooth;
}

/*Mobile*/
@media only screen and (max-width:500px){
	#navbar{
		position:fixed; top:0px; left:0px; background-color:white;
		width:100%; height:80px; margin:0; box-sizing:border-box; padding:0px 20px;
		display:flex; flex-direction:row; justify-content:space-between; align-items:center;
	}

	#navtitle{
		width:auto; height:auto; margin:0; box-sizing:border-box;
		display:flex; flex-direction:row; justify-content:space-around; align-items:center;
		font-size:22px; font-family:Poppins Bold;
	}

	#burger{
		width:30px; height:30px;
	}

	#navtabcont{
		position:absolute; top:80px; height:auto; padding:50px 10px 30px 15px; right:-200px; border-radius:0px 0px 0px 10px; 
		width:40vw; height:auto; margin:0; box-sizing:border-box; box-shadow:0px 3px 5px rgb(180, 180, 180);
		display:flex; flex-direction:column; justify-content:flex-start; align-items:flex-start; background-color:white;
		transition-duration:0.5s; opacity:0%;
	}

	.navtab{
		margin-bottom:20px;
		display:flex; flex-direction:column; justify-content:space-around; align-items:center;
	}

	.tabname{
		text-align:center;  box-sizing:border-box; width:auto;
		font-size:18px; font-family:'Poppins Regular'; font-weight:bold; width:auto; padding:0px 10px;
	}

	.tabdiv{
		display:none;
	}

	.pages{
		width:100%; height:100vh; margin:0; box-sizing:border-box; padding:100px 20px 0px 20px;
	}

	#homepg{
		display:flex; flex-direction:column; align-items:center; justify-content:flex-start;
	}

	#homepgleft{
		width:auto; height:auto; box-sizing:border-box;
		display:flex; flex-direction:column; align-items:center; justify-content:flex-start;
	}

	.pgtop{
		font-family:Poppins Bold; font-size:30px;
	}

	.pgmid{
		display:flex; flex-direction:column; justify-content:flex-start; align-items:center;
		font-family:Poppins Bold; font-size:22px; margin-bottom:5px;
	}

	#pgmidskillcont{
		display:flex; flex-direction:column; align-items:center; justify-content:flex-start;
		height:34px; overflow-y:hidden;
		scroll-behavior:smooth;
	}

	#pgmidskillcont::-webkit-scrollbar{
		display:none;
	}

	.pgbtm{
		font-family:Poppins Regular; font-size:16px; font-weight:bold;
	}

	#homepgright{
		position:relative;
		height:70%; width:100%; overflow-x:hidden;
		display:flex; flex-direction:column; align-items:center; justify-content:flex-start;
	}

	.hprmedia{
		position:absolute; left:600px;
		width:150px; height:auto; opacity:0%;
		transition-duration:2s;
	}

	#servicespg{
		display:flex; flex-direction:column; justify-content:space-between; align-items:center;
		position:relative; height:160vh; padding:50px 20px 0px 20px;
	}

	.servicesrow{
		box-sizing:border-box; width:100%; transition-duration:1.5s; opacity:0%; position:absolute;
		display:flex; flex-direction:column; align-items:center; justify-content:space-between; padding:30px 20px;
	}

	#srfirst{ top:30px; left:-550px; }
	#srsecond{ top:460px; right:-550px; flex-direction:column-reverse;}
	#srthird{ top:860px; left:-550px; }

	.serviceimg{
		width:100%; height:100%; margin-bottom:20px;
		display:flex; flex-direction:column; align-items:center; justify-content:space-around;
	}

	.smainimg{
		width:80px; height:80px; margin-bottom:15px;
	}

	.slangrow{
		width:80%;
		display:flex; flex-direction:row; align-items:flex-start; justify-content:space-around;
	}

	.slangrow img{
		width:30px; height:30px;
	}

	.servicetext{
		width:100%;
		display:flex; flex-direction:column; justify-content:flex-start; align-items:flex-start;
	}

	.stheader{
		font-family:Poppins Bold; font-size:22px; color:white;
	}

	.stmini{
		font-family:Poppins Regular; font-size:16px; font-weight:bold;
	} 

	#portfoliopg{
		display:flex; flex-direction:column; justify-content:space-around; align-items:center; position:relative; 
		padding:40px 20px 0px 20px;
	}

	#pfgallery{
		display:flex; flex-direction:row; align-items:center; justify-content:flex-start;
		width:100%; box-sizing:border-box; overflow-x:hidden; scroll-behavior:smooth;
	}

	#left, #right{
		width:40px; height:40px; border-radius:50%; position:absolute; top:125px;
	}

	#left{ left:20px; }
	#right{ right:20px; }

	.pfgpic{
		min-width:150px; max-width:150px; height:auto;
		margin:0px 25px 0px 25px;
	}

	.selectedpic{
		min-width:150px; max-width:150px; height:auto;
		margin:0px 25px 0px 25px; border: 8px rgba(120, 189, 104, 0.5) solid; border-radius:5px;
	}

	#pfbottom{
		display:flex; flex-direction:column; align-items:flex-start; justify-content:flex-start;
		width:100%; height:60%;
	}

	#pfheader{
		font-family:'Poppins Bold'; font-size:26px; 
	}

	#pftext{
		font-family:'Poppins Regular'; font-size:16px; font-weight:bold;
	}

	#pflang, #pfpics{
		display:flex; flex-direction:row; align-items:center; justify-content:flex-start;
		margin:25px 0px; flex-wrap:wrap;
	}

	#pflang img{
		width:30px; height:30px; margin:0px 20px 20px 20px;
	}

	#pfpics img{
		width:100px; height:auto; margin:20px 25px;
	}

	#contactpg{
		display:flex; flex-direction:column; justify-content:flex-start; align-items:center;
		padding-top:90px;
	}

	#contacttop{
		width:auto; height:auto; box-sizing:border-box; margin-bottom:30px;
		display:flex; flex-direction:column; justify-content:flex-start; align-items:center;
	}

	#contacttextmain{
		width:auto; font-size:22px; font-family:Poppins Bold;
		display:flex; flex-direction:row; justify-content:space-around; align-items:center;
	}

	#contacttextscroll{
		display:flex; flex-direction:column; align-items:flex-start; justify-content:flex-start;
		height:34px; overflow-y:hidden;
		scroll-behavior:smooth;
	}

	#contacttextscroll::-webkit-scrollbar{
		display:none;
	}

	#contacttextmini{
		width:auto; font-size:16px; font-family:Poppins Regular; font-weight:bold;
		display:flex; flex-direction:row; justify-content:space-around; align-items:center;
	}

	#contactbtm{
		width:auto; box-sizing:border-box;  
		display:flex; flex-direction:column-reverse; align-items:center; justify-content:space-between;
	}

	#socials{
		box-shadow:5px 5px 20px rgba(50, 20, 200, 0.5);
		width:auto; height:auto; border-radius:10px;
		padding:40px 20px 40px 20px;
	}

	.socialsdiv{
		display:flex; flex-direction:row; align-items:center; justify-content:flex-start;
		font-family:Poppins Regular; font-size:16px; font-weight:bold; padding:5px 0px;
	}

	.socialsdiv:hover{
		cursor:pointer;
	}

	.socialsimg{
		width:30px; height:30px; border-radius:50%; margin-right:10px;
	}

	#contactimg{
		width:200px; height:auto; margin-bottom:30px;
	}

}